.carousel-control-next{
    border-radius: 10px;
    background-color: rgba(180, 174, 174, 0.7);
    height: 80%;
    width:10%;
}
.carousel-control-prev{
    border-radius: 10px;
    background-color: rgba(180, 174, 174, 0.7);
    height: 80%;
    width:10%;
}
.carousel{
    background-image: url(../project/images/WhatsApp\ Image\ 2021-11-18\ at\ 1.13.40\ AM.jpeg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
