.carousel-control-next{
    border-radius: 10px;
    background-color: rgba(180, 174, 174, 0.7);
    height: 80%;
    width:10%;
}
.carousel-control-prev{
    border-radius: 10px;
    background-color: rgba(180, 174, 174, 0.7);
    height: 80%;
    width:10%;
}
.carousel{
    background-image: url(images/WhatsApp\ Image\ 2021-11-18\ at\ 1.13.40\ AM.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

}
.home{
    /* padding: 10px; */
    /* background-color: aqua; */
    
}
.carousel-inner{
    height: 100%;
    padding: 5px;
    /* background-color: white; */
}
.carousel-inner img{
    width: 55vh;
}
.carousel-item{
    padding: 5px;
}